.minicart-number-red {
    position: absolute;
    top: 10px;
    right: 120px;
    display: flex;
    min-width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border-radius: 50%;
    background-color: #e52e06;
    font-size: 8px;
    color: #fff;
}

.minicart-number-green{
    position: absolute;
    top: 10px;
    right: 120px;
    display: flex;
    min-width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border-radius: 50%;
    background-color: #01cb06;
    font-size: 8px;
    color: #fff;
}

.folk-but-red{
    position: absolute;
    top: 10px;
    right: 120px;
    display: flex;
    min-width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border-radius: 50%;
    background-color: #e52e06;
    font-size: 8px;
    color: #fff;
}

.folk-but-green{
    position: absolute;
    top: 10px;
    right: 120px;
    display: flex;
    min-width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border-radius: 50%;
    background-color: #01cb06;
    font-size: 8px;
    color: #fff;
}